<!-- css of the file -->
<link rel="stylesheet" type="text/css" href="/css/home.css">

<form id ="form" action="/create-list" method="POST">
    <h3 style="text-align: right;">
        <small><a style="color: grey; text-decoration: none;" href="/users/sign-out"><span style="background-color: darkorange; background-color: darkorange;
            padding: 4px;
            border-radius: 6px;
            color: white;">Sign Out</span></a> </small>
    </h3>
    <h1> <span>TODO App</span></h1>
    <div id="description" class="border-top-grey">
        <label for="description" class="common-heading"> Description </label> <br>
        <textarea name="description" id="description-area" required cols="10" rows="3" placeholder="What do you need to do?"></textarea>
    </div>
    <div id="catogary-and-due-date-container" class="border-top-grey">
        <div id="category">
            <label for="category" class="common-heading"> CATEGORY </label> <br>
            <select name="category" id="category" required>
                <option disabled selected> Choose a category </option>
                <option value="personal"> Personal </option>
                <option value="work"> Work </option>
                <option value="school"> School </option>
                <option value="cleaning"> Cleaning </option>
                <option value="other"> Other </option>
            </select>
        </div>
        <div id="due-date">
            <label for="datepicker" class="common-heading">DUE DATE</label> <br>
            <input type="text" name="due-date" id="datepicker" placeholder="dd-mm-yyyy" required autocomplete="off">
        </div>
    </div>
    <div id="button-container" class="border-top-grey">
        <button id="add-button" class="common-button-style" type="submit">
            <!-- add icon -->
            <i class="fas fa-plus"></i>
            <span> &ensp;ADD TASK </span>
        </button>
        
    </div>
</form>


<form id="task-container" action="/delete-list" method="POST">
    <button id="delete-button" class="common-button-style" type="submit">
        <!-- delete icon -->
        <i class="far fa-trash-alt"></i>
        <span> &ensp;DELETE TASKS </span>
    </button>

    <% for(let i of task_list){ %>
        <div class="task">
            <input class="checkbox" type="checkbox" name="delete" value="<%= i._id %>">
            <div id="div<%= i %>">
                <p class="common-description">
                    <%= i.description %>
                </p>
                <i class="far fa-calendar-alt"></i>
                <span>
                    <%= i.dueDate %>
                </span>
            </div>
            <button type="button" class="<%= i.category %>"> <%= i.category %> </button>
        </div>
    <% } %>
</form>








<script src="/js/home.js"></script>